* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  background-color: #f7f7f7;
}

/* **********Home/App*********** */
.home-container {
  display: block;
  width: 95%;
  margin: 0px auto;
}

/* **********Navbar******** */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: blueviolet;
  color: white;
  height: 50px;
}

.navbar .fab {
  margin-right: 10px;
}
.nav-header {
  display: flex;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 7px grey;
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  margin: 10px 20px;
  border: 1px solid #fff;
  padding: 7px 20px;
}
/* **********User Item************** */

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: 1px solid grey; */
}
.user-card img {
  width: 100px;
  border-radius: 50%;
}

.user-card .btn {
  text-decoration: none;
  background-color: crimson;
  color: #fff;
  padding: 8px 20px;
}

/* *********Users********** */
.users-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-item-container {
  width: 440px;
  margin: 10px;
  box-shadow: 0px 0px 5px grey;
}

/* ******Spinner********* */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* ********Search************ */
.search {
  margin: 10px auto;
  width: 90%;
  padding: 0% 20%;
}
.search.full-width {
  padding: 0%;
}

.search.center form {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
.center .alert-position {
  margin-top: 40px;
}
.search form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search form input {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.search form button {
  background-color: peru;
  font-size: 20px;
  margin: 10px;
  color: white;
  padding: 0px 30px;
  border: none;
  width: 200px;
  height: 50px;

  border-radius: 5px;
}

.search .clear-btn {
  background-color: grey;
  font-size: 20px;
  margin: 10px;
  color: white;
  padding: 0px 30px;
  border: none;
  width: 200px;
  height: 50px;
}

.search-buttons {
  display: flex;
}

/* *********Alert*********** */

.alert {
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4dada;
  color: red;
  width: 95%;
}

.danger {
  background-color: indianred;
}

/* ***********User*********** */

.user-details {
  display: flex;
  margin: 20px 0px;
}
.left-section {
  width: 30%;
  padding: 0px 10px;
  /* border-right: 1px solid grey; */
}

.avatar {
  text-align: center;
}
.avatar img {
  box-shadow: 0px 0px 5px black;
}

.profile-info {
  margin-top: 30px;
}

.profile-info h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.profile-info p {
  margin: 15px;
}

.profile-info a {
  text-decoration: none;
}

.btn {
  display: block;
  padding: 10px 30px;
  margin: 10px 0px;
  width: 50%;
  text-align: center;
  background-color: indigo;
  color: white;
}

.right-section {
  width: 70%;
}
/* 
.right-section h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
} */

.github-info {
  margin: 15px;
}
.counter-btn {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

.counter-btn p {
  text-align: center;
  width: 210px;
  margin: 10px;
  padding: 10px 40px;
  color: white;
}

.followers {
  background-color: #4f3961;
}
.following {
  background-color: #ff677d;
}
.repos {
  background-color: #4d80e4;
}
.gists {
  background-color: #61d4b3;
}

.github-info-header,
.repos-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.github-info-header h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  /* border: 1px solid blueviolet; */
  background-color: #e3e7f1;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}
.github-info-header strong {
  margin: 0px 5px;
}
.github-repos {
  margin-top: 20px;
  margin-left: -15px;
}

/* *******Repo Item******** */

.repo-item {
  text-decoration: none;
  padding: 20px 0px;
  margin: 10px 20px;
  border-bottom: 1px solid grey;
}
.repo-item a {
  text-decoration: none;
  color: blue;
}
/* ************About************ */

.about,
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@media only screen and (max-width: 1020px) {
  .user-details {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .github-info-header {
    margin-top: 30px;
  }
  .search {
    margin: 10px auto;
    width: 90%;
    padding: 0% 0%;
  }
  .search.full-width form {
    flex-direction: column;
    padding: 0%;
  }

  .search.center form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-buttons {
    width: 350px;
    display: flex;
    justify-content: center;
  }
  .navbar {
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .counter-btn {
    display: flex;
    justify-content: center;
  }
}
