* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto';
}

/* **********Navbar******** */
.navbar {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: blueviolet;
  color: white;
  height: 50px;
}

.navbar .fab {
  margin-right: 10px;
}

/* **********User Item************** */

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
}
.user-card img {
  width: 100px;
  border-radius: 50%;
}

.user-card .btn {
  text-decoration: none;
  background-color: crimson;
  color: #fff;
  padding: 5px 20px;
}

/* *********Users********** */
.users-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-item-container {
  width: 30%;
  margin: 10px;
}

/* ******Spinner********* */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* ********Search************ */
.search {
  margin: 10px 0px;
}
.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form input {
  width: 86%;
  height: 40px;
}

.search form button {
  background-color: peru;
  color: white;
  padding: 0px 30px;
  border: none;
  height: 40px;
}
